<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
      <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>sip URI</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>sip</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>xmpp URI</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>xmpp</string>
            </array>
        </dict>
      </array>
      <key>NSHighResolutionCapable</key>
      <true/>
      <key>LSMinimumSystemVersion</key>
        <string>10.8.3</string>
        <key>CFBundleName</key>
    <string>Atel Communicator</string>
    <key>CFBundleShortVersionString</key>
    <string>2.8.18</string>
    <key>CFBundleGetInfoString</key>
    <string>Atel Communicator</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>AtelCommunicator</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>sipc</string>
    <key>CFBundleVersion</key>
    <string>${build.label}</string>
    <key>CFBundleIconFile</key>
    <string>sc_logo_128x128.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.atel</string>
    <key>Javax</key>
    <dict>
      <key>MainClass</key>
      <string>net.java.sip.communicator.launcher.SIPCommunicator</string>
      <key>JVMVersion</key>
      <string>1.7+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/lib/ant.jar</string>
        <string>$JAVAROOT/lib/bundle/commons-logging.jar</string>
        <string>$JAVAROOT/lib/bundle/log4j.jar</string>
        <string>$JAVAROOT/lib/bundle/org.apache.felix.bundlerepository-1.6.4.jar</string>
        <string>$JAVAROOT/lib/felix.jar</string>
        <string>$JAVAROOT/lib/izpack-standalone-compiler-4.3.5.jar</string>
        <string>$JAVAROOT/lib/native/mac/libAEGetURLEventHandlerAgent.dylib</string>
        <string>$JAVAROOT/lib/native/mac/libglobalshortcut.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libhid.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libhwaddressretriever.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjmacosxaddrbook.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnawtrenderer.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnffmpeg.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjng722.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnmaccoreaudio.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnopus.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnportaudio.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnquicktime.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnscreencapture.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnspeex.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjnvpx.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libjunbound.jnilib</string>
        <string>$JAVAROOT/lib/native/mac/libsysactivitynotifications.jnilib</string>
        <string>$JAVAROOT/lib/os-specific/mac/OrangeExtensions.jar</string>
        <string>$JAVAROOT/lib/os-specific/mac/growl4j.jar</string>
        <string>$JAVAROOT/lib/os-specific/mac/jarbundler-2.2.0.jar</string>
        <string>$JAVAROOT/lib/os-specific/mac/jarbundler-2.3.1.jar</string>
        <string>$JAVAROOT/resources/images/logo/sc_logo_128x128.icns</string>
        <string>$JAVAROOT/sc-bundles/accountinfo.jar</string>
        <string>$JAVAROOT/sc-bundles/addrbook.jar</string>
        <string>$JAVAROOT/sc-bundles/advancedconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/argdelegation-service.jar</string>
        <string>$JAVAROOT/sc-bundles/argdelegation.jar</string>
        <string>$JAVAROOT/sc-bundles/bccontrib.jar</string>
        <string>$JAVAROOT/sc-bundles/bouncycastle.jar</string>
        <string>$JAVAROOT/sc-bundles/branding.jar</string>
        <string>$JAVAROOT/sc-bundles/browserlauncher.jar</string>
        <string>$JAVAROOT/sc-bundles/callhistory.jar</string>
        <string>$JAVAROOT/sc-bundles/certificate.jar</string>
        <string>$JAVAROOT/sc-bundles/chatalerter.jar</string>
        <string>$JAVAROOT/sc-bundles/chatconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/commons-codec.jar</string>
        <string>$JAVAROOT/sc-bundles/commons-lang.jar</string>
        <string>$JAVAROOT/sc-bundles/configuration.jar</string>
        <string>$JAVAROOT/sc-bundles/connectioninfo.jar</string>
        <string>$JAVAROOT/sc-bundles/contacteventhandler.jar</string>
        <string>$JAVAROOT/sc-bundles/contactinfo.jar</string>
        <string>$JAVAROOT/sc-bundles/contactlist.jar</string>
        <string>$JAVAROOT/sc-bundles/contactsource.jar</string>
        <string>$JAVAROOT/sc-bundles/credentialsstorage.jar</string>
        <string>$JAVAROOT/sc-bundles/customavatar-service.jar</string>
        <string>$JAVAROOT/sc-bundles/customcontactactions.jar</string>
        <string>$JAVAROOT/sc-bundles/defaultresources.jar</string>
        <string>$JAVAROOT/sc-bundles/demuxcontactsource.jar</string>
        <string>$JAVAROOT/sc-bundles/desktoputil.jar</string>
        <string>$JAVAROOT/sc-bundles/dns.jar</string>
        <string>$JAVAROOT/sc-bundles/dnsconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/dnsservice.jar</string>
        <string>$JAVAROOT/sc-bundles/fileaccess.jar</string>
        <string>$JAVAROOT/sc-bundles/filehistory.jar</string>
        <string>$JAVAROOT/sc-bundles/galagonotification.jar</string>
        <string>$JAVAROOT/sc-bundles/generalconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/globaldisplaydetails.jar</string>
        <string>$JAVAROOT/sc-bundles/globalproxyconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/globalshortcut.jar</string>
        <string>$JAVAROOT/sc-bundles/guava.jar</string>
        <string>$JAVAROOT/sc-bundles/hid-service.jar</string>
        <string>$JAVAROOT/sc-bundles/hid.jar</string>
        <string>$JAVAROOT/sc-bundles/history.jar</string>
        <string>$JAVAROOT/sc-bundles/hsqldb.jar</string>
        <string>$JAVAROOT/sc-bundles/httpclient.jar</string>
        <string>$JAVAROOT/sc-bundles/httpcore.jar</string>
        <string>$JAVAROOT/sc-bundles/httputil.jar</string>
        <string>$JAVAROOT/sc-bundles/jfontchooserlib.jar</string>
        <string>$JAVAROOT/sc-bundles/jmdnslib.jar</string>
        <string>$JAVAROOT/sc-bundles/jnalib.jar</string>
        <string>$JAVAROOT/sc-bundles/json.jar</string>
        <string>$JAVAROOT/sc-bundles/keybindingChooser.jar</string>
        <string>$JAVAROOT/sc-bundles/keybindings.jar</string>
        <string>$JAVAROOT/sc-bundles/ldap.jar</string>
        <string>$JAVAROOT/sc-bundles/libjitsi.jar</string>
        <string>$JAVAROOT/sc-bundles/meta-cl.jar</string>
        <string>$JAVAROOT/sc-bundles/metahistory.jar</string>
        <string>$JAVAROOT/sc-bundles/msghistory.jar</string>
        <string>$JAVAROOT/sc-bundles/muc.jar</string>
        <string>$JAVAROOT/sc-bundles/neomedia.jar</string>
        <string>$JAVAROOT/sc-bundles/netaddr.jar</string>
        <string>$JAVAROOT/sc-bundles/notification-handlers.jar</string>
        <string>$JAVAROOT/sc-bundles/notification-service.jar</string>
        <string>$JAVAROOT/sc-bundles/notification-wiring.jar</string>
        <string>$JAVAROOT/sc-bundles/notificationconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/osdependent.jar</string>
        <string>$JAVAROOT/sc-bundles/otr.jar</string>
        <string>$JAVAROOT/sc-bundles/packetlogging.jar</string>
        <string>$JAVAROOT/sc-bundles/phonenumbercontactsource.jar</string>
        <string>$JAVAROOT/sc-bundles/phonenumbers.jar</string>
        <string>$JAVAROOT/sc-bundles/plugin-certconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/plugin-contactsourceconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/plugin-ldap.jar</string>
        <string>$JAVAROOT/sc-bundles/plugin-loggingutils.jar</string>
        <string>$JAVAROOT/sc-bundles/pluginmanager.jar</string>
        <string>$JAVAROOT/sc-bundles/propertieseditor.jar</string>
        <string>$JAVAROOT/sc-bundles/protocol-media.jar</string>
        <string>$JAVAROOT/sc-bundles/protocol-mock.jar</string>
        <string>$JAVAROOT/sc-bundles/protocol-sip.jar</string>
        <string>$JAVAROOT/sc-bundles/protocol.jar</string>
        <string>$JAVAROOT/sc-bundles/provdisc-dhcp.jar</string>
        <string>$JAVAROOT/sc-bundles/provdisc-mdns.jar</string>
        <string>$JAVAROOT/sc-bundles/provdisc.jar</string>
        <string>$JAVAROOT/sc-bundles/provisioning.jar</string>
        <string>$JAVAROOT/sc-bundles/reconnectplugin.jar</string>
        <string>$JAVAROOT/sc-bundles/replacement-smiley.jar</string>
        <string>$JAVAROOT/sc-bundles/replacement.jar</string>
        <string>$JAVAROOT/sc-bundles/resourcemanager.jar</string>
        <string>$JAVAROOT/sc-bundles/sc-launcher.jar</string>
        <string>$JAVAROOT/sc-bundles/sdes4j.jar</string>
        <string>$JAVAROOT/sc-bundles/securityconfig.jar</string>
        <string>$JAVAROOT/sc-bundles/shutdown-timeout.jar</string>
        <string>$JAVAROOT/sc-bundles/simpleaccreg.jar</string>
        <string>$JAVAROOT/sc-bundles/sipaccregwizz.jar</string>
        <string>$JAVAROOT/sc-bundles/skinmanager.jar</string>
        <string>$JAVAROOT/sc-bundles/slf4j-api.jar</string>
        <string>$JAVAROOT/sc-bundles/slf4j-jdk14.jar</string>
        <string>$JAVAROOT/sc-bundles/slick-runner.jar</string>
        <string>$JAVAROOT/sc-bundles/slickless.jar</string>
        <string>$JAVAROOT/sc-bundles/smacklib.jar</string>
        <string>$JAVAROOT/sc-bundles/spellChecker.jar</string>
        <string>$JAVAROOT/sc-bundles/splash-screen.jar</string>
        <string>$JAVAROOT/sc-bundles/swing-ui.jar</string>
        <string>$JAVAROOT/sc-bundles/swingnotification.jar</string>
        <string>$JAVAROOT/sc-bundles/sysactivitynotifications.jar</string>
        <string>$JAVAROOT/sc-bundles/systray-service.jar</string>
        <string>$JAVAROOT/sc-bundles/ui-service.jar</string>
        <string>$JAVAROOT/sc-bundles/updateservice.jar</string>
        <string>$JAVAROOT/sc-bundles/usersearch.jar</string>
        <string>$JAVAROOT/sc-bundles/util.jar</string>
        <string>$JAVAROOT/sc-bundles/version-impl.jar</string>
        <string>$JAVAROOT/sc-bundles/zrtp4j.jar</string>
        <string>/System/Library/Java</string>
        <string>$JAVAROOT</string>
      </array>
      <key>JVMRuntime</key>
      <string>jre1.8.0_40.jre</string>
      <key>VMOptions</key>
      <string>-agentlib:AEGetURLEventHandlerAgent -splash:splash.gif </string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/Java</string>
      <key>Properties</key>
      <dict>
        <key>felix.config.properties</key>
        <string>file:felix.client.run.properties</string>
        <key>java.library.path</key>
        <string>$JAVAROOT/lib/native/mac:${system.DYLD_LIBRARY_PATH}</string>
        <key>jna.library.path</key>
        <string>$JAVAROOT/lib/native/mac:${system.DYLD_LIBRARY_PATH}</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>net.java.sip.communicator.SC_HOME_DIR_NAME</key>
        <string>Atel Communicator</string>
        <key>apple.awt.brushMetalRounded</key>
        <string>true</string>
        <key>apple.awt.showGrowBox</key>
        <string>true</string>
        <key>java.util.logging.config.file</key>
        <string>logging.properties</string>
      </dict>
    </dict>
  </dict>
</plist>
